{% extends 'base.html' %}

{% block title %}Edit Team{% endblock %}

{% block content %}
<br><br>
    <div class="container" style="background-color:aliceblue;">
        <div class="row">
            <div class = "col-md-3" style=" text-align: left;">
                <a href="{% url 'home' %}"><h2>🏠Home</h2></a>
            </div>
            <div class = "col-md-3" style=" text-align: left;">
                <h3>Status : {{task.status}}</h3>
            </div>
            <div class = "col-md-3" style=" text-align: right;">
                <h3>Assignee : {% for assignee in a %}{{assignee}} {% endfor %}</h3>
            </div>
            <div class = "col-md-3" style=" text-align: right;">
                <h3>Team : {{task.team}}</h3>
            </div>
        </div>
    </div> 
<br><br>
<div class="container">
  <form method="post">
      {% csrf_token %}

  <div class="form-group">
    <label for="id_title">Title :</label>
    <input type="text" class="form-control" name="title" value="{{task.title}}" maxlength="50" required="" id="id_title" aria-describedby="titleHelp" placeholder="Enter Task Title">
    <small id="titleHelp" class="form-text text-muted">Please enter the appropriate title for task.</small>
  </div>
  <div class="form-group">
      <label for="id_description">Description:</label> 
      <textarea class="form-control" name="description" rows="5" maxlength="1000" required="" id="id_description" aria-describedby="descHelp" placeholder="Enter Task Description">{{task.description}}</textarea>
      <small id="descHelp" class="form-text text-muted">Please enter the brief description for task.</small>
  </div>

  <div class="form-group">
      <label for="id_status">Status :</label>
      <select class="form-control" required="" name="status" id="id_status" aria-describedby="statusHelp">
        	<option value="to-do">To Do</option>
            <option value="planned">Planned</option>
            <option value="in_progress">In Progress</option>
            <option value="done">Done</option>
            <option value="dismissed">Dismissed</option>
      </select>
      <small id="statusHelp" class="form-text text-muted">Please select the present status of Task.</small>
  </div>

  <div class="form-group">
      <label for="id_assignee">Task Assigne :</label>
      <select class="form-control" name="assignee" id="id_assignee" aria-describedby="assignHelp" multiple>
        <option value="" selected="">---------</option>
        {% for a in users  %}
          <option value="{{a.id}}">{{a.username}}</option>
        {% endfor %}
      </select>
      <small id="assignHelp" class="form-text text-muted">Please select assignee, if you are not in any team you will be automatically assigned.</small>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
  <a href="{% url 'home' %}" class="btn btn-primary" role="button" aria-pressed="true">Cancel</a>
  <a href="{% url 'taskdelete' string=task.title %}" class="btn btn-primary" role="button" aria-pressed="true">Delete Task ?</a>
            
</form>
<br><br><br>
</div>
{% endblock %}